#header{
	height: 100px;
	padding-top: 30px;
}
#header .logo img{
	width: 100%;
	max-width: 160px;
	height: auto;
}
#header .menu{
	padding-top: 20px;
	text-align: right;
}
#header .menu ul{
	padding-left: 0px;
}
#header .menu ul li{
	display: inline-block;
}
#header .menu ul li a{
	font-size: 15px;
	color: #000;
}

h1{
	margin-bottom: 60px;
	text-align: center;
}
.member{
	text-align: center;
}
.member h5{
	font-size: 19px;
	margin: 10px 0;
}
.member .title{
	margin-bottom: 10px;
}
.member .email{
	color: #ff4c4d;
}
.member .email a{
	color: #ff4c4d;
}